.testimonials-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;

  // justify-content: space-between;
  // align-items: center;
  // background-color: rgba(92, 50, 73, 1);
  // text-align: center;
  // background-image: url(../img/bg-1.png);
  // min-width: 1170px;
  // max-height: 490px;
  // img {
  //   max-width: 100%;
  //   min-height: 100%;
  //   overflow: hidden;
  // }
  // position: relative;
  // z-index: 2;
  // &::after {
  //   content: "";
  //   width: 50%;
  //   height: 100%;

  //   position: absolute;
  //   left: 50%;
  //   top: 0;
  //   z-index: -1;
  // }

  @media (max-width: 320px) {
    grid-template-columns: none;
    grid-template-rows: auto;
  }

  .photo-background {
    // max-width: 741px;
    // max-height: 490px;
    object-fit: cover;
    overflow: hidden;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  }
}
.text-background {
  padding: 116px 0;
  background-image: url(../img/bg-1.png);
  width: 100%;
  // background-image: url(../img/bg-1.png);
  // background-repeat: no-repeat;
  // background-position-x: 100%;
  // background-position-y: 100%;

  @media (max-width: 1024px) {
    padding: 47px 104px 110px 88px;
  }
  @media (max-width: 320px) {
    max-height: 206px;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 10px 20px 95px;
  }
  .text {
    max-width: 471px;
    line-height: 48.74px;
    color: $_wite;
    text-transform: capitalize;
    margin: auto;

    @media (max-width: 1024px) {
      line-height: 32.5px;
      max-width: 100%;
    }

    .testimonials-textitle {
      font-family: "Cardo";
      font-size: $_36px;
      font-weight: $_400;
      @media (max-width: 320px) {
        text-align: center;
      }
    }
    .title-description {
      font-size: $_13px;
      font-weight: $_700;
      margin-top: 10px;
      @media (max-width: 320px) {
        padding: 15px 0 0;
        text-align: center;
      }
    }
  }
}
.dots {
  margin: auto;
  text-align: center;
  .dot {
    margin-top: 31px;
    width: 0.875rem;
    height: 0.875rem;
    border-radius: 50%;
    border: 1px solid rgba(126, 93, 111, 1);
    display: inline-block;
    margin-right: 25px;
    &:last-child {
      margin-right: 0;
    }
    &:nth-child(2) {
      background-color: rgba(126, 93, 111, 1);
    }
  }
}
